.content-rent
	.content-group
		.row{ :style => "margin-bottom:5%;" }
		.row
			.col-md-1
			.col-md-4
				img
			.col-md-1
			.col-md-7
				.product-title
					Title Product
				.product-line
				.product-desc
					.product-resume
						Synopsis
					.product-text
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.row{ :style => "margin-top:5%;" }
				.btn-group.cart
					%button.btn.btn-primary.center-block
						Rent Product
		.row{ :style => "margin-top:5%;" }
