/*.content-rent{
	position: fixed;
	left:0;
	right:0;
	height: 100%;
}*/

.content-rent:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-405809.jpg');
	background-size:cover;
	height: 100%;
	-webkit-filter: invert(25%);
	-moz-filter: invert(25%);
	-o-filter: invert(25%);
	-ms-filter: invert(25%);
	filter: invert(25%);
}

.content-rent{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	top:9%;
}

.product-rent{
	margin-top:20%;
	margin:auto;
}

.content-group{
	width: 60%;
    margin: auto;
    margin-top: 10%;
    background-color:rgba(236, 233, 233, 0.8);
    border-radius:20px;
}

.product-image{
	width:80%;
}

.product-title{
	font-size: 25px;
}

.product-line{
	width:100%;
	height:1px;
	background-color:#a29494;
	margin-bottom:4%;
}

.product-resume{
	font-size:18px;
	font-weight: bold;
}


/***** End rent page ******/


/***** Show Product ******/
.avatar_comment{
	max-height: 165px;
}

.avatar_comment img{
	width: 100%;
	border: 5px grey solid;
	border-radius: 10px;
}

.texte_comment{
	min-height: 165px;
	background-color: lightgrey;
	border-radius: 136px 0px 0px;
}

.texte_comment p{
	min-height: 165px;
	padding: 28px 0px 0px 123px;
}

.product_image img{
	height: 300px;
}

.comment_settings{
	float: right;
    background-color: #d3d3d3;
    padding: 8px;
    margin-bottom: 5px;
    margin-top: -11px;
    border-radius: 0 0 5px 5px;
}
.the_comment{
	border-top: 1px solid #d8d8d8;
	padding: 10px 0px 10px 0px;
	min-height: 100px;
	margin-top: 20px;
}
.col-md-3{
	font-weight: bold;
	padding: 0 0 0 0 !important;
}

.clear{
	clear:both;
}

.the_comment a{
	font-weight: bold;
	color:#FFF !important;
	text-decoration:none !important;
}

.new_comment{
	margin-top: 20px;
	width: 60%;
    margin: auto;
    background: rgba(236, 233, 233, 0.8);
    border-radius: 10px;
    padding: 5px;
}
.new_comment form{
	width: 100%;
}

.product_img{
  width:150px;
}

.product{
  height: 255px;
}

.name{
  text-align:center;
  font-size:18px;
  margin: 5px 0px 5px 0px;
}